<br />
<div
  id="sidebar"
  class="column no-side-pad hidden-xs col-xs-12 col-sm-3 col-lg-2 sidebar-offcanvas"
>
  <div class="row">
    <div class="col-lg-12 no-pad-left no-pad-right">
      <div class="navTitle"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 no-pad-left no-pad-right">
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fa fa-search"></i>&nbsp;
          <a href="/u">search</a>
        </li>
        <li class="list-group-item">
          <i class="fa fa-plus"></i>&nbsp;
          <a href="/me/upload">upload</a>
        </li>
        <li class="list-group-item">
          <i class="fa fa-paper-plane"></i>&nbsp;
          <a href="/chat">chat</a>
        </li>
        <li class="list-group-item">
          <i class="fa fa-bell"></i>&nbsp;
          <a href="/me/activity">notifications</a>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Categories</li>
        <li class="list-group-item">
          <i class="fa fa-comments"></i>&nbsp;
          <a href="/category/suggestions">suggestions</a>
        </li>
        <li class="list-group-item">
          <i class="fa fa-exclamation"></i>&nbsp;
          <a href="/category/concerns">concerns</a>
        </li>
        <li class="list-group-item">
          <i class="fa fa-question"></i>&nbsp;
          <a href="/category/questions">questions</a>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Account</li>
        <li class="list-group-item">
          <i class="fa fa-user"></i>&nbsp;
          <a href="/me/">my profile</a>
        </li>
        <li class="list-group-item">
          <i class="fa fa-user-edit"></i>&nbsp;
          <a href="/me/settings/">edit profile</a>
        </li>
        <!-- <li class="list-group-item">
          <i class=""></i>&nbsp;
          <a href="/me/settings/change">change username</a>
        </li> -->
        <li class="list-group-item">
          <i class="fa fa-sign-out-alt"></i>&nbsp;
          <a href="/account/out">log out</a>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
          People you might know
        </li>
        <% for(var i=0;i<(people.length/2);i++) { %>
        <li class="list-group-item">
          <img
            src="<%= people[i].profile_pic %>?cache=<%= Math.random() %>"
            class="logo"
          />
          <a href="/u/<%= people[i].username %>"><%= people[i].username %></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
